*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    background: url('image/header.jpg');
    /* filter: grayscale(100%); */
}

hr{
    height: 2px;
}

.main .header{
    background-color: rgba(0, 0, 0, 0.3);
}

.main .header .container{
    height: 140px;
}

.main .content{
    height: 660px;
}

.menu li{
    list-style: none;
    
}

#logo span{
    color: #4bcaff;

}

.main .content p{
    background-color: rgba(0, 0, 0, 0.3);
}

.services hr{
    width: 4%;
    background: white; 
}

.portfolio hr{
    width: 40%;
    background: black; 
}

.portfolio a{
    border-color: #4bcaff;
}

.services{
    background-color: #4bcaff;
}

.service-detail .title{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.section{
    background-color: #515f67;
    margin-right: 25%;
}

.section hr{
    background: white; 
    width: 8%;
}

.section button{
    border: 2px solid #353f46;
    color: #353f46;
    background-color: #515f67;
}

.twitter{
    background-color: #4bcaff;
}

.twitter hr{
    background: white; 
    width: 40%;
}

.who{
    background: url("image/whoisphoto.jpg");
    height: 505px;
}

.who .container .header{
    position: relative; top: 100px;
}

.icon-boder{
    width: 320px;
    position: relative; top: 20px;
}

.icon-boder img{
    border-image-outset: 1px white;
}

.who .container .header .ans hr{
    background: white;
    width: 20%;
}

.testi hr{
    width: 20%;
}

.contact{
    background-image: url("image/contact.png");
    height: 600px;
}

.contact .container .title{
    position: relative; top: 80px;
}

.contact .container .title .header hr{
    position: relative; top: 30px; right: 1080px;
}

.contact hr{
    background: white;
    height: 2px;
}

.contact .container .title .input-data{
    top: 30px;
}

.contact .container .title .input-data .data{
    /* position: absolute; */
    border: 1px solid white;
    opacity: 0.6;
    font-optical-sizing: 0.01;
    background: transparent;
    width: 40%;
}

.contact .container .title .input-data p{
    font-size: 12px;
    margin-top: 10px;
}

.contact .container .title .input-data .size-data{
    width: 100%;
    height: 100px;

    
}

.btnMes{
    margin-top: 20px;
    border: 2px solid #4bcaff;
    background-color: #4bcaff
}

.tail {
    background-color: #353f46;
}
.tail a{
    color: #515f67;
}






